<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block styles %}
            <!-- Bootstrap css -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        
        <title>{% block title %}HDM | {% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {% endblock %}
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% block content %}{% endblock %}

    {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>